
<p>
  <strong>Name:</strong>
  <%= space.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= space.category %>
</p>

<p>
  <strong>Address:</strong>
  <%= space.address %>
</p>

<p>
  <strong>Hours:</strong>
  <%= space.hours %>
</p>

<p>
  <strong>Phone:</strong>
  <%= space.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= space.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= space.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= space.description %>
</p>