<p id="notice"><%= notice %></p>

<%= render partial: "space", locals: {space: @space} %>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>

<h3>Revision history</h3>
<dl>
<% @space.versions.each do |v| %>
  <dt><b><%= v.event.capitalize %> <%= v.created_at %> <%= v.whodunnit if v.whodunnit %></b></dt>
  <dd>
    <% if v.reify %>
      <%= render partial: "space", locals: {space: v.reify} %>
    <% end %>
  </dd>
<% end %>
</dl>